{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/first.css' %}">
  <title>해요 회원가입</title>
</head>
<body>
  <a href="{% url 'main' %}">
    <div id = "haeyo">
      <span>해요</span>
    </div>
  </a>  

    <nav>
        <a id="nav1" href="{% url 'about' %}">소개</a> 
        <a id="nav2" href="{% url 'cafe' %}">매장찾기</a> 
        <a id="nav3" href="{% url 'cafe' %}">마이페이지</a>
    </nav>
    <div class="box">
        <div class="container-1">
            <span><img id ="search_icon" src="{% static '/image/search.png' %}"></span>
            <input type="search" id="search" placeholder="매장명을 검색해보세요." />
        </div>
    </div>
    
    <div id="_z">
      <span>아이디</span>
    </div>
    <div id="_ba">
      <span>비밀번호</span>
    </div>
    <div id="__">
      <span>비밀번호 확인</span>
    </div>

    <a href="{% url 'main' %}">
      <svg class="house_icon" viewBox="0 0 55 55">
      <path id="house_icon" d="M 55 55 L 54.99899291992188 55 L 37.99961471557617 54.9990348815918 L 37.99961471557617 35.70121383666992 L 17.9994068145752 35.70121383666992 L 17.9994068145752 54.9990348815918 L 0 54.9990348815918 L 0 22.84613800048828 L 27.5 -1.13686837721616e-13 L 55 22.84613800048828 L 55 54.9990348815918 L 55 55 Z">
      </path>
      </svg>
    </a>

    <div id="profile_img">
        <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzO6wlUE3xt9U7LbJa4qi3_siXBnkrrNxVLl2V_itSdGFwLlw_rlEpHV3oWhVU6x9tS7c&usqp=CAU width="50" height="50">
    </div>
    <div id="profile_name">
        <span>김수아 님</span>
    </div>
    <!--회원가입 박스-->
    <div class="register-form">
      <form>
        <input type="text" name="email" class="text-field" placeholder="아이디">
        <input type="password" name="password" class="text-field" placeholder="비밀번호">
        <input type="password" name="password-check" class="text-field" placeholder="비밀번호 확인">
        <input type="submit" value="가입하기" class="submit-btn">
      </form>
      <svg class="register-title">
        <rect id="register-title" rx="43.5" ry="43.5" x="0" y="0" width="463" height="87"></rect>
      </svg>
      <div id="register-title-text">
        <span>회원가입</span>
      </div>
    <!--sns 회원가입-->
    <!--apple-->
    <svg class="register-apple">
      <rect id="register-apple" rx="5" ry="5" x="0" y="0" width="616" height="75"></rect>
    </svg>
    <div id="apple-logo">
      <img class="apple-logo" src="{% static 'image/apple.png' %}">
    </div>
    <div id="apple-text">
      <span>Apple로 회원가입</span>
    </div>

    <!--kakao-->
    <svg class="register-kakao">
      <rect id="register-kakao" rx="5" ry="5" x="0" y="0" width="616" height="75"></rect>      
    </svg>
    <div id="kakao-logo">
      <img class="kakao-logo" src="{% static 'image/kakao.png' %}">
    </div>
    <div id="kakao-text">
      <span>카카오로 회원가입</span>
    </div>

    <!--facebook-->
    <svg class="register-facebook">
      <rect id="register-facebook" rx="5" ry="5" x="0" y="0" width="616" height="75"></rect>
    </svg>
    <div id="facebook-logo">
      <img class="facebook-logo" src="{% static 'image/facebook.png' %}">
    </div>
    <div id="facebook-text">
      <span>페이스북으로 회원가입</span>
    </div>
  </div>
</body>
</html>